<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Zone_CTF</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >排行榜</a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{:url('/index/usertop')}">个人排行榜</a>
            <a class="dropdown-item" href="{:url('/index/teamtop')}">战队排行榜</a>
        </div>
        <a class="p-2 text-dark" href="{:url('/index/teams')}">战队列表</a>
        <a class="p-2 text-dark" href="{:url('/users/challenge')}">挑战靶场</a>
        <a class="p-2 text-dark" href="#">最新公告</a>
    </nav>
    <a class="btn btn-outline-primary" href="{:url('/users/login')}">快速登录</a>
</div>

