<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Z_CTF-首页</title>
    <!--引入Bootstrap CSS-->
    {css href="__CSS__/bootstrap.min.css"}
    {css href="__CSS__/style.css"}

    <!--移动设备适配优先-->
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
</head>
<body>


<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Z_CTF</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">排行榜</a>
        <a class="p-2 text-dark" href="{:url('/index/teams')}">战队列表</a>
        <a class="p-2 text-dark" href="#">挑战靶场</a>
        <a class="p-2 text-dark" href="#">最新公告</a>
    </nav>
    <a class="btn btn-outline-primary" href="{:url('/user/login')}">快速登录</a>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">平台介绍</h1>
    <p class="lead">本平台可供CTF选手练习和比赛，通过练习的途径加深技能的学习和掌握，本平台由Sh0wT1me战队亲情为你打造。版权所有，侵权必究！</p>
</div>

<div class="container">




    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="./Pricing example · Bootstrap_files/bootstrap-solid.svg" alt="" width="24" height="24">
                <small class="d-block mb-3 text-muted">Copyright © 2022</small><span class="text-muted">By @Z_CTF</span>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="https://getbootstrap.net/example/pricing/#">Cool stuff</a></li>
                    <li><a class="text-muted" href="https://getbootstrap.net/example/pricing/#">Random feature</a></li>
                    <li><a class="text-muted" href="https://getbootstrap.net/example/pricing/#">Team feature</a></li>
                    <li><a class="text-muted" href="https://getbootstrap.net/example/pricing/#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="https://getbootstrap.net/example/pricing/#">Another one</a></li>
                    <li><a class="text-muted" href="https://getbootstrap.net/example/pricing/#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="https://getbootstrap.net/example/pricing/#">Resource</a></li>
                    <li><a class="text-muted" href="https://getbootstrap.net/example/pricing/#">Resource name</a></li>
                    <li><a class="text-muted" href="https://getbootstrap.net/example/pricing/#">Another resource</a></li>
                    <li><a class="text-muted" href="https://getbootstrap.net/example/pricing/#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="https://getbootstrap.net/example/pricing/#">Team</a></li>
                    <li><a class="text-muted" href="https://getbootstrap.net/example/pricing/#">Locations</a></li>
                    <li><a class="text-muted" href="https://getbootstrap.net/example/pricing/#">Privacy</a></li>
                    <li><a class="text-muted" href="https://getbootstrap.net/example/pricing/#">Terms</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>

</body>
<!--引入JS文件-->
{JS href="__JS__/jquery-3.3.1.min.js"}
{JS href="__JS__/bootstrap.bundle.min.js"}

</html>